.form {
  font-family: $SourceSans;
  margin-top: auto;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
  z-index: 1;

  .container {
    max-width: 32em;
    padding: 0;
  }

  .title {
    color: $color-brand-yellow;
    font-size: 3em;
    letter-spacing: 0;
    margin-bottom: 1.5rem;
  }

  .col-form-label,
  .settings {
    color: $color-brand-light;
  }

  .card {
    background: inherit;
    border: none;


    &-header {
      background: none;
      border: 0;
      padding: 0;

    }
  }

  .form-group {
    display: flex;
    flex-direction: column;

    &.flex-row {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      > * {
        flex-grow: 1;

        &:first-child {
          margin-right: 1em;
        }

        &:last-child {
          margin-left: 1em;
          margin-bottom: 0;
        }
      }
    }

    // < 640
    @media screen and (max-width: $break-640) {

      &.flex-row {
        flex-direction: column;

        > * {
          flex-basis: 100%;
          margin-bottom: 1em;

          &:first-child {
            margin-right: 0;
          }

          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  // .select-input {
  //   flex-grow: 1;
  //   margin-left: 2em;
  // }

  .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 2em;

    a {
      color: currentColor;
      text-decoration: underline;
    }

    .form-check {
      margin-right: 1em;
    }

    .btn-link {
      margin-left: 1em;
      padding-right: 0;
    }

    .form-check-label a {
      margin-left: 1px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    padding-top: 1em;

    > * {
      flex: 1;
    }

    button {
      font-size: 1.2em;
      margin: 0 0 1em;
    }
  }

  .col-form-label {
    font-weight: 700;
    padding-bottom: .75em;
  }

  .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px .7em 1px rgba(black, .25);
    font-size: 1.1em;
    height: auto;
    padding: 1em .5em;
  }

  // < 640
  @media screen and (max-width: 639px) {
    padding-top: 150px;
  }

  // < 1000
  @media screen and (min-width: $break-640) and (max-width: 999px) {
    display: flex;
    align-items: center;
    padding-top: 250px;

    > * {
      flex: 1;
    }
  }
}

// Custom Select

.select {
  position: relative;
  display: inline-block;
  color: #555;

  .form-group & {
    display: block;
  }
}

.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

// Undo the Firefox inner focus ring
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

// Dropdown arrow
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

// Hover state
// Uncomment if you need it, but be aware of the sticky iOS states.

.select select:hover {
  background-color: #ddd;
}

// Focus

.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

// Active/open

.select select:active {
  color: #fff;
  background-color: #0074d9;
}

// Hide the arrow in IE10 and up

.select select::-ms-expand {
  display: none;
}

// Media query to target Firefox only

@-moz-document url-prefix() {
  // Firefox hack to hide the arrow
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  // <option> elements inherit styles from <select>, so reset them.
  .select option {
    background-color: white;
  }
}

// IE9 hack to hide the arrow

@media screen and (min-width:0\0) {

  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }

  .select:after {
    z-index: 5;
  }

  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }

  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}
