/* Base CSS */
@font-face {
	font-family:GothamNarrow;
	src: url('../fonts/GothamNarrow-Book.otf');

}
@font-face {
	font-family:BullpenHv;
	src: url('../fonts/BullpenHv-Regular.ttf');

}
@font-face {
	font-family:GothamNarrow-MediumItalic;
	src: url('../fonts/GothamNarrow-MediumItalic.otf');

}
@font-face {
	font-family:CA-Monodon;
	src: url('../fonts/CA Monodon W00 Bold.ttf');

}

@font-face {
	font-family:hh;
	src: url('../fonts/hh.ttf');

}
@font-face {
        font-family: 'BullpenThreeD-Regular';src: url('../fonts/38E180_0_0.eot');src: url('../fonts/38E180_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/38E180_0_0.woff2') format('woff2'),url('../fonts/38E180_0_0.woff') format('woff'),url('../fonts/38E180_0_0.ttf') format('truetype');}


.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: GothamNarrow;
    font-weigth:400;
    font-size:14px;
}
a:hover { text-decoration: none }

.header-top-area{
	background-image: url(../img/main.jpg);
	background-size: cover;
	background-position: top center;
    height: 100%;
}
.content-left {
	color: #F8C604;
	text-align: center;
	padding-top: 0px;
}
.content-left p {
	font-family:GothamNarrow;
	padding-top: 20px;
	font-size: 18px;
	max-width: 340px;
	margin: auto;
}
.header-top-logo.text-left {
	text-align: center;
}
.content-right strong {
    display: block;
    font-size: 52px;
    color: #D48102;
    font-family: BullpenHv;
    font-weight: 400;
    line-height: 1;
}

.content-right p {
    color: #F8C604;
    display: inline-block;
    border-bottom: 2px solid #c07503;
    width: 90%;
    font-family: GothamNarrow;
    margin: 0;
    font-size: 35px;
    position: absolute;
    margin-left: 5px;
    line-height: 1;
    margin-top: 8px;
}
.content-right {
	padding-top: 18vw;
}
.timeline-text {
	padding-top: 22vw;
	display: inline-block;
}
.timeline-content img {
	background: #000;
	padding: 3px;
	height: 20px;
	width: 20px;
	border-radius: 100%;
}
.timeline-content span {
	padding-left: 15px;
	font-weight: 300;
	font-family:BullpenHv;
}
.timeline-content p {
	padding-left: 38px;
	font-size: 20px;
	font-family: GothamNarrow-MediumItalic;
}
.timeline-text::before {
	height: 340px;
	width: 4px;
	position: absolute;
	content: "";
	background: #000;
	bottom: 100px;
	left: 8px;
	z-index: -1;
}
.timeline-text {
  position: relative;
  z-index: 9;
}
.join-area {
	background-image: url(../img/form-bg-2.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.join-left-content span {
    color: #F8C604;
    font-family: 'BullpenThreeD-Regular';
    letter-spacing: 2px;
    position: relative;
    top: -2px;
}
.join-left-content p {
	color: #f8c604;
	font-family: GothamNarrow;
	font-size: 20px;
	margin: 0;
}
.join-left-content h2 {
    color: #f8c604;
    font-family: BullpenHv;
    font-weight: 400;
    font-size: 36px;
}
#fname, #femail, #fcomment {
	width: 100%;
}
input {
	font-size: 30px!important;
}
input, textarea {
	border: 2px solid #f0c231;
	margin: 6px 0;
	background: transparent;
	color: #7a4c05;
	text-transform: uppercase;
	font-size: 20px;
	padding: 8px 0px 8px 20px;
}
#fphone, #fbirthday, #fcode {
	width: 33.1%;
}
#fcomment {
	height: 150px;
}
input[type="submit"] {
	display: block;
	float: none;
	padding: 8px 20px;
}
input[type="submit"] {
    display: block;
    float: none;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background: #f0c231;
    color: #000;
    font-family: BullpenHv;
    font-weight: 900;
    font-size: 40px!important;
}
.join-right-content.text-right img {
	height: 120px;
}
.form-sec {
	padding-top: 20px;
}
.form-sec img {
    margin: 20px auto 0;
    display: block;
    width: 46px;
}

.footer-content {
	text-align: center;
	color: #ffffff;
    font-weight: bolder;
    font-size: 16px;
	padding: 50px 0;
    margin-top:100px;
}
.footer-content a {
	color: #f0c231;
    font-weight: bolder;
	border: 1px solid #636363;
	padding: 10px 30px;
	margin-top: 10px;
	display: inline-block;
    background-color: #000000;
}
.footer-area{
	/*background-image: url(../img/foo-bg.png);*/
	/*background-size: cover;*/
	/*background-position: center center;*/
    /*background-color: #000000;*/
    /*height:100%;*/
}
.copyright.text-center {
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.copyright.text-center a {
    color: #f0c231;
}
.content-left h1 {
    font-family: BullpenHv;
    margin: 0;
    padding-bottom: 10px;
    font-size: 60px;
}
.content-left h3 {
    font-family: CA-Monodon;
    margin: 0;
    padding-bottom: 8px;
    font-size: 30px;
    padding-left: 15px;
}
.wh-element:before {
    height: 3px;
    width: 20px;
    background: #f8c604;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.wh-element:after {
    height: 3px;
    width: 20px;
    background: #f8c604;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
h1.mon {
    padding-left: 15px;
}
.content-left h1.out {
    color: #F8C604;
    font-size: 59px;
    font-family: 'BullpenThreeD-Regular';
    font-weight: normal;
    letter-spacing: 2px;
}
::placeholder {
  color: #784a04;
  opacity: 1; /* Firefox */
}
.timeline-content h3 {
    margin: 0 0 0;
    font-size: 32px;
}

.timeline-content {
    margin: 30px 0;
}

.invalid-feedback {
    font-size:12px;
    color: red;
}

.is-invalid {
    border: 2px solid red;
}

.btn-tk {
    color: #000000;
    background-color: #f7be00;
    margin-top:20px;
}

.btn-tk-lrg {
    font-weight: bolder;
    font-size: 24px;
}







