// Fonts

@mixin font-SourceSans {
  font-family: "Source Sans Pro", sans-serif;
  font-display: swap;
}

@mixin font-BullpenHeavy {
  font-family: $BullpenHeavy;
  font-display: swap;
  letter-spacing: .08em;
  -webkit-font-smoothing: antialiased;
}

@mixin font-BullpenHeavyItalic {
  font-family: $BullpenHeavyItalic;
  font-display: swap;
}

@mixin font-BullpenHeavy3D {
  font-family: $Bullpen3D;
  font-display: swap;
  letter-spacing: .08em;
}

@mixin Montserrat {
  font-family: $Montserrat;
  font-display: swap;
  font-weight: 700;
}

// Buttons

@mixin button {
  border-radius: .25em;
  border-style: solid;
  border-width: .25em;
  display: inline-block;
  @include Montserrat;
  font-size: .875em;
  letter-spacing: .07em;
  // line-height: 1;
  margin-right: auto;
  margin-left: auto;
  padding: .938em 2.125em;
  text-align: center;
  text-transform: uppercase;
  transition: .4s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-primary {
  @include button;
  background: $color-brand-yellow;
  border-color: $color-brand-yellow;
  color: $color-brand-dark;

  &:hover,
  &:focus {
    background: $color-brand-dark;
    border-color: $color-brand-dark;
    color: $color-brand-yellow;
  }
}

@mixin button-primary-dark {
  @include button;
  background: $color-brand-dark;
  border-color: $color-brand-dark;
  color: $color-brand-yellow;

  &:hover,
  &:focus {
    background: $color-brand-yellow;
    border: .25em solid $color-brand-yellow;
    color: $color-brand-dark;
  }
}

@mixin button-primary-outline {
  @include button-primary;
  border: .25em solid $color-brand-dark;
}

@mixin button-primary-outline-dark {
  @include button-primary-dark;
  border: .25em solid $color-brand-yellow;
}

@mixin button-outline-light {
  @include button-primary;
  background: transparent;
  border: .25em solid $color-brand-yellow;
  color: $color-brand-yellow;

  &:hover,
  &:focus {
    background: $color-brand-yellow;
    border: .25em solid $color-brand-yellow;
    color: $color-brand-dark;
  }
}

@mixin button-outline-dark {
  @include button-primary;
  background: transparent;
  border: .25em solid $color-brand-dark;
}
