
$break-640: 40em;

$break-768: 48em;

$break-1000: 62.5em;

$break-1200: 75em;

$break-1400: 87.5em;

$break-1600: 100em;

// Body
$body-bg: #f8fafc;

$sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial, sans-serif;

$serif: "Garamond", "Cambria", Georgia, serif;

$SourceSans: "Source Sans Pro", $sans-serif;

$BullpenHeavy: "Bullpen Heavy", $serif;

$BullpenHeavyItalic: "Bullpen Heavy Italic", $serif;

$Bullpen3D: "Bullpen 3D", $serif;

$Montserrat: "Montserrat", $sans-serif;
